<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular-inline-text-editor example</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="ite.css">

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/rangy/rangy-core.js"></script>
    <script src="bower_components/rangy/rangy-selectionsaverestore.js"></script>
    <script src="bower_components/rangy/rangy-classapplier.js"></script>
    <script src="ite.js"></script>

    <script>
        angular.module('myApp', ['ngSanitize','InlineTextEditor'])

        .controller('MyController', ["$scope", function($scope){
            $scope.lorem = 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi dolor vero illum at iste. Eos, suscipit quas iste aut aliquam doloribus, consequuntur tempora quasi enim ipsam provident ad sunt blanditiis.<br> <img src="http://i.imgur.com/jW3LVg3m.jpg" id="9f0765" ng-click="setImageResizeElements($event)" class="ite-image">';

        }]);

    </script>

    <style>
        input.ng-invalid.ng-dirty, textarea.ng-invalid.ng-dirty{
            border-color: red;
        }
    </style>
</head>
<body>
    <div ng-app="myApp" ng-strict-di>
        <div ng-controller="MyController" class="col-xs-12">

            <h1>Angular-inline-text-editor</h1>

            <div class="panel">
                <div class="col-xs-6">
                    <h4>Make changes here:</h4>
                    <div inline-text-editor ng-model="lorem" placeholder="this is some placeholder text" class="inline-text-editor" contentEditable></div>
                </div>

                <div class="col-xs-6">
                    <h4>Results:</h4>
                    <div class="well">
                        <div ng-bind-html="lorem"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>