
#inline-toolbar-link-url.ng-invalid.ng-dirty{
    border-color: red;
}

[inline-text-editor] {
    display: inline-block;
    outline: none;
    position: relative;
    cursor: text;
}

.ite-bold {
    font-weight: bold;
}
.ite-italic {
    font-style: italic;
}
.ite-underline {
    text-decoration: underline;
}
.ite-strikethrough {
    text-decoration: line-through;
}

.ite-color {

}

.color-picker {
  position: absolute;
  top: -65px;
  width: 100%;
  border: 1px solid grey;
  background-color: white;
  font-size: 0px;
  border-radius: 3px;
}

.color-picker div {
  font-size: 11px;
}

.color {
  width: 10px;
  height: 10px;
  display: inline-block;
  cursor: pointer;
}

[inline-text-editor][contentEditable]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: grey;
}
