
#inline-toolbar-link-url.ng-invalid.ng-dirty{
    border-color: red;
}

[inline-text-editor] {
    display: inline-block;
    outline: none;
    position: relative;
    cursor: text;
}
[data-inline-type] {
  outline: none;
}

.ite-bold {
    font-weight: bold;
}
.ite-italic {
    font-style: italic;
}
.ite-underline {
    text-decoration: underline;
}
.ite-strikethrough {
    text-decoration: line-through;
}
.ite-image {
  /*border: 1px solid transparent;*/
}

#ite-image-handle-se {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  position: absolute;
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}

#ite-image-resize-overlay {
  background-color: transparent;
  position: relative;
  border: 1px solid black;
  display: inline-block;
  outline: none;
  cursor: move;
}

.inline-text-editor .ite-image:hover {
  cursor: move;
}

.ite-color {

}

.color-picker {
  position: absolute;
  top: 33px;
  width: 100%;
  border: 1px solid grey;
  background-color: white;
  font-size: 0px;
  border-radius: 3px;
}

.color-picker div {
  font-size: 11px;
}

.color {
  width: 10.18px;
  height: 10px;
  display: inline-block;
  cursor: pointer;
}

[inline-text-editor][contentEditable]:empty:before {
  content: attr(placeholder);
  display: block; /* For Firefox */
  color: grey;
}
